// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description, .index, .footer {
  background-color: #CCFFCC;
  margin: 1em;
  padding: 1em;
}

.header {
  background-color: #FFFFFF;
  text-align: right;
}

.forum {
  background-color: #EFEFEF;
  margin: 1em;
  padding: 1em;

  h1, h2 {
    color: red;
  }

  span.name {
    color: green;
    font-weight: bold;
  }

  form div {
    &.submit, &.name, &.email {
      float: left;
      margin: 0.25em;
      #message_email {
        max-width: 100%;
      }
    }
    &.body {
      clear: both;
      margin: 0.25em;
      textarea {
        width: 100%;
        height: 5em;
      }
    }
  }
}
